##################################
# Ignore everything
##################################
*

!.gitignore

##################################
# Allow wp-content structure
##################################
!wp-content/
!wp-content/themes/
!wp-content/plugins/

##################################
# Allow ONLY child theme
##################################
!wp-content/themes/superio-child/
!wp-content/themes/superio-child/**

##################################
# Ignore ALL plugins by default
##################################
wp-content/plugins/*

##################################
# Allow ONLY these plugins
##################################
!wp-content/plugins/wp-job-board-pro/
!wp-content/plugins/wp-job-board-pro/**
!wp-content/plugins/wp-job-board-pro-wc-paid-listings/
!wp-content/plugins/wp-job-board-pro-wc-paid-listings/**

##################################
# Ignore runtime
##################################
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/ai1wm-backups/
wp-content/wflogs/
wp-content/debug.log
wp-content/object-cache.php
wp-content/ses-smtp.log

##################################
# Ignore WordPress core
##################################
wp-admin/
wp-includes/
wp-*.php
index.php
xmlrpc.php
license.txt
readme.html

##################################
# Ignore system / local
##################################
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/
vendor/

##################################
# Ignore staging
##################################
public_html_stage/
stage/
